body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.4)), url(../images/banner-bg01.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;

}

.hero-text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

canvas.particles-js-canvas-el {
    position: absolute;
    z-index: 99;
}